<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>This app was designed to use Face ID.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>*** NOT USED ***</string>
	<key>DTXcodeBuild</key>
	<string>12C33</string>
	<key>firebase_json_raw</key>
	<string>eyJtbF92aXNpb25fb2NyX21vZGVsIjogdHJ1ZX0=</string>
	<key>NSMotionUsageDescription</key>
	<string>*** NOT USED ***</string>
	<key>UISupportedDevices</key>
	<array>
		<string>MacFamily20,1</string>
		<string>iPad11,1</string>
		<string>iPad11,2</string>
		<string>iPad11,3</string>
		<string>iPad11,4</string>
		<string>iPad13,1</string>
		<string>iPad13,10</string>
		<string>iPad13,11</string>
		<string>iPad13,2</string>
		<string>iPad13,4</string>
		<string>iPad13,5</string>
		<string>iPad13,6</string>
		<string>iPad13,7</string>
		<string>iPad13,8</string>
		<string>iPad13,9</string>
		<string>iPad14,1</string>
		<string>iPad14,2</string>
		<string>iPad6,3</string>
		<string>iPad6,4</string>
		<string>iPad7,1</string>
		<string>iPad7,2</string>
		<string>iPad7,3</string>
		<string>iPad7,4</string>
		<string>iPad8,1</string>
		<string>iPad8,10</string>
		<string>iPad8,11</string>
		<string>iPad8,12</string>
		<string>iPad8,2</string>
		<string>iPad8,3</string>
		<string>iPad8,4</string>
		<string>iPad8,5</string>
		<string>iPad8,6</string>
		<string>iPad8,7</string>
		<string>iPad8,8</string>
		<string>iPad8,9</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>13A227</string>
	<key>CFBundleName</key>
	<string>ServiceNSW</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>*** NOT USED ***</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>*** NOT USED ***</string>
	<key>CFBundleDisplayName</key>
	<string>Service NSW</string>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>18C61</string>
	<key>firebase_crashlytics_collection_enabled</key>
	<false/>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>DTXcode</key>
	<string>1230</string>
	<key>DTSDKName</key>
	<string>iphoneos14.3</string>
	<key>CFBundleVersion</key>
	<string>373965</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>*** NOT USED ***</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.rta.myRTA</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>ServiceNSW</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>BuildMachineOSBuild</key>
	<string>20G165</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSContactsUsageDescription</key>
	<string>*** NOT USED ***</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>*** NOT USED ***</string>
	<key>TSKConfiguration</key>
	<dict>
		<key>TSKPinnedDomains</key>
		<dict>
			<key>api.g.service.nsw.gov.au</key>
			<dict>
				<key>TSKPublicKeyHashes</key>
				<array>
					<string>FkiBDXesOeyIZVR8zlEHYyn9NHNb/mYCWFzIqAd3nQI=</string>
					<string>8Rw90Ej3Ttt8RRkrg+WYDS9n7IS03bk5bjP/UXPtaY8=</string>
					<string>cUJePE/77WSjxz3oUKUqpjyvvbiiZQ8Yyk404q8rcIY=</string>
					<string>980Ionqp3wkYtN9SZVgMzuWQzJta1nfxNPwTem1X0uc=</string>
				</array>
				<key>TSKReportUris</key>
				<array>
				</array>
				<key>TSKIncludeSubdomains</key>
				<true/>
				<key>TSKPublicKeyAlgorithms</key>
				<array>
					<string>TSKAlgorithmRsa2048</string>
				</array>
				<key>TSKEnforcePinning</key>
				<true/>
			</dict>
			<key>services.rta.nsw.gov.au</key>
			<dict>
				<key>TSKPublicKeyHashes</key>
				<array>
					<string>X3dwG7Gl6DQfDOt/buiF2IL7FQZPgcvXdh11ubPUTms=</string>
					<string>gMxWOrX4PMQesK9qFNbYBxjBfjUvlkn/vN1n+L9lE5E=</string>
				</array>
				<key>TSKReportUris</key>
				<array>
				</array>
				<key>TSKIncludeSubdomains</key>
				<true/>
				<key>TSKPublicKeyAlgorithms</key>
				<array>
					<string>TSKAlgorithmRsa2048</string>
				</array>
				<key>TSKEnforcePinning</key>
				<true/>
			</dict>
			<key>api-it6.g.testservicensw.net</key>
			<dict>
				<key>TSKPublicKeyHashes</key>
				<array>
					<string>+SAZuxwFNZR7yJqwazsndc3weYvb4fuedK3vbJkSFME=</string>
					<string>8Rw90Ej3Ttt8RRkrg+WYDS9n7IS03bk5bjP/UXPtaY8=</string>
				</array>
				<key>TSKReportUris</key>
				<array>
				</array>
				<key>TSKIncludeSubdomains</key>
				<true/>
				<key>TSKPublicKeyAlgorithms</key>
				<array>
					<string>TSKAlgorithmRsa2048</string>
				</array>
				<key>TSKEnforcePinning</key>
				<true/>
			</dict>
		</dict>
		<key>TSKSwizzleNetworkDelegates</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>au.gov.nsw.service.siriddl</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Required for scanning QR Codes for COVID Safe Check-in, and for scanning licences and registrations plates</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>*** NOT USED ***</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gotham-Black.otf</string>
		<string>Gotham-BlackIta.otf</string>
		<string>Gotham-Bold.otf</string>
		<string>Gotham-BoldIta.otf</string>
		<string>Gotham-Book.otf</string>
		<string>Gotham-BookIta.otf</string>
		<string>Gotham-ExtraLight.otf</string>
		<string>Gotham-Light.otf</string>
		<string>Gotham-Medium.otf</string>
		<string>Gotham-MediumIta.otf</string>
		<string>Gotham-Ultra.otf</string>
		<string>GothamCondensed-Medium.otf</string>
		<string>HelveticaLTStd-FractionsBd.otf</string>
		<string>icomoon.ttf</string>
		<string>icomoon.woff</string>
		<string>PTMono-Regular.ttf</string>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>*** NOT USED ***</string>
	<key>DTSDKBuild</key>
	<string>18C61</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>*** NOT USED ***</string>
	<key>DTPlatformVersion</key>
	<string>14.3</string>
	<key>CFBundleShortVersionString</key>
	<string>6.22.0</string>
</dict>
</plist>